@font-face {
  font-family: "iconfont"; /* Project id 3961440 */
  src: url('iconfont.woff2?t=1680653909802') format('woff2'),
       url('iconfont.woff?t=1680653909802') format('woff'),
       url('iconfont.ttf?t=1680653909802') format('truetype'),
       url('iconfont.svg?t=1680653909802#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-prev:before {
  content: "\e600";
}

.icon-remove:before {
  content: "\e601";
}

.icon-search:before {
  content: "\e602";
}

.icon-nextt:before {
  content: "\e603";
}

.icon-zhongmingming:before {
  content: "\e604";
}

.icon-refresh:before {
  content: "\ec08";
}

.icon-loading:before {
  content: "\e60f";
}

.icon-fold:before {
  content: "\e619";
}

.icon-unfold:before {
  content: "\e941";
}

.icon-process:before {
  content: "\e6d8";
}

.icon-suoding:before {
  content: "\e7af";
}

.icon-text:before {
  content: "\e638";
}

.icon-server2:before {
  content: "\e643";
}

.icon-ulock:before {
  content: "\e636";
}

.icon-lock:before {
  content: "\e637";
}

.icon-close:before {
  content: "\e646";
}

.icon-infomation:before {
  content: "\e8e8";
}

.icon-server:before {
  content: "\e65c";
}

.icon-database:before {
  content: "\e940";
}

.icon-home:before {
  content: "\e6b8";
}

.icon-table:before {
  content: "\e675";
}

.icon-view:before {
  content: "\e847";
}

.icon-yuyan-kong:before {
  content: "\e692";
}

.icon-biaoge:before {
  content: "\e639";
}

