@font-face {
  font-family: "iconfont"; /* Project id 3961440 */
  src: url('iconfont.woff2?t=1679141245987') format('woff2'),
       url('iconfont.woff?t=1679141245987') format('woff'),
       url('iconfont.ttf?t=1679141245987') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yuyan-kong:before {
  content: "\e692";
}

.icon-biaoge:before {
  content: "\e639";
}

