:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(216, 216, 216, 0.5);
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(114, 114, 114, 0.2);
}

body {
  margin: 0;
  background: #ffffff;
}
pre {
  margin: 0;
}

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#app {
  margin: 0 auto;
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.text-number {
  width: 32px;
  outline: none;
  height: 16px;
}
.icon {
  margin: 0 5px;
  cursor: pointer;
  color: #1a1a1a;
  user-select: none;
}

.cell-value-number {
  color: #224daa;
}

.cell-value-null {
  color: #797979;
  font-style: italic;
}

.cell-value-date {
  color: rgb(155, 23, 23);
}

.cell-value-string {
  color: #1a7005;
}

.cell-value-boolean {
  color: #651086;
}
.icon-font {
  display: flex;
  align-items: center;
}
.icon-font :hover {
  color: #224daa;
}

.pointer {
  cursor: pointer;
}
